<div class="row">
    <h1>Hard and Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [imageSrc]="'../../assets/html.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="''"
        [animation]="true"
        [animationDuration]="700"
       ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [imageSrc]="'../../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="57"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="''"
        [animation]="true"
        [animationDuration]="700"
       ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [imageSrc]="'../../assets/js.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="57"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="''"
        [animation]="true"
        [animationDuration]="700"
       ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'HTML'"
        [titleFontSize]="'30'"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="''"
        [animation]="true"
        [animationDuration]="700"
       ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'HTML'"
        [titleFontSize]="'30'"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="''"
        [animation]="true"
        [animationDuration]="700"
       ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'HTML'"
        [titleFontSize]="'30'"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="85"
        [radius]="80"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="''"
        [animation]="true"
        [animationDuration]="700"
       ></circle-progress>
    </div>   
</div>