 <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../assets/Jeferson Borges BW.jpg" 
            class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Jeferson Borges</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam totam tenetur veritatis dicta enim quidem accusamus, placeat, numquam delectus omnis ad tempore eveniet quo ratione. Quasi tempore eveniet rerum magnam.</p>
            </span>
        </div>
 </div>
